/* CSS Document */

body { padding-right: 0 !important }

.handCursor{
	cursor:pointer;
}

.bold{
	font-weight:bold;
}
.content{
	position: relative;
    min-height: 800px;
    margin-left: 240px;
    border-left: 1px solid #cccccc;
    padding: 15px 15px 0px 15px;
}
.sidebar-nav {
    width: 240px;
    position: absolute;
    float: left;
    border-top: none;
    border-left: none;
    margin: 0em;
}
/* tamanhos */
.tam10 {font-size:10px;}
.tam12 {font-size:12px;}
.tam14 {font-size:14px;}
.tam16 {font-size:16px;}
.tam18 {font-size:18px;}
.tam20 {font-size:20px;}
.tam22 {font-size:22px;}
.tam24 {font-size:24px;}
.tam26 {font-size:26px;}
.tam28 {font-size:28px;}
.tam30 {font-size:30px;}
/* Cores */
.branco{color:#FFF;}
.preto {color:#000;}
.verde {color:#090;}
.verdeClaro {color:#E1FFE2;}
.azul {color:#06C;}
.azulClaro {color:#D0D6FD;}
.vermelho {color:#F00;}
.vermelhoClaro {color:#FFDFDF;}
.cinzaEscuro{color:#1c1e22;}
.cinza {color:#999;}
.cinzaClaro{color:#ccc;}
/* Fundos */
.bgBranco {background-color:#FFF;}
.bgPreto {background-color:#000;}
.bgCinza1 {background-color:#333;}
.bgCinza2 {background-color:#667;}
.bgCinza3 {background-color:#999;}
.bgCinza4 {background-color:#CCC;}
.bgAzul {background-color:#06C;}
.bgAzulClaro {background-color:#D0D6FD;}
.bgVermelho {background-color:#F00;}
.bgVermelhoClaro {background-color:#FFDFDF;}
.bgVerde {background-color:#090;}
.bgVerdeClaro {background-color:#E1FFE2;}

@media (min-width: 768px) {
.destaqueShadow {
	width:99%;
	padding:10px;
	margin-left:0.5%;
	/* Border style */
	border: 1px solid #cccccc;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 5px; 
 
	/* Border Shadow */
	-moz-box-shadow: 2px 2px 2px #cccccc;
	-webkit-box-shadow: 2px 2px 2px #cccccc;
	box-shadow: 2px 2px 2px #cccccc;
	
	
}
.bordaVerde{
  border-top: #091 2px solid;	
}
.bordaVermelha{
  border-top: #C00 2px solid;	
}
.bordaCinza{
  border-top: #999 2px solid;
}
}
.border-radius{
	border-radius: 3px;
}
.margin-bottom{
	margin-bottom:10px;
}
.margin-top{
	margin-top:10px;
}
.margin-left{
	margin-left:10px;
}
.margin-right{
	margin-right:10px;	
}
.float-left{
	float:left;	
}
.float-right{
	float:right;	
}

/* Bootstrap */
.table-striped > tbody > .row_select{
	border:2px solid #F90 !important;	
}
.row > .selected {
	background-color:#FFC !important;	
}
/* Setinha da Listagem */
.caret-up{
	 border-top-width: 0;
	 border-bottom: 4px solid #000000;	
}

/* Grafico */		
#line-chart {
	height:300px;
	width:800px;
	margin: 0px auto;
	margin-top: 1em;
}

/* Cor textos do topo (navbar) */
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover { 
	color: #fff;
}

/* Espaçamento do formulario de cadastro com o topo */
.form {
	margin-top:15px;	
}

/* Topo fixo todas resoluções, exceto mobile */
@media (min-width: 768px) {
  .teste {
	  position:fixed;
	  top: 0;
	  left: 0;
	  right: 0;
	  z-index: 1030;
	  background-color:#FFF;
  }
  body {
	  margin-top:50px;  
  }
}

/* Fix para checkbox estilizado */
input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
  height  : 25px;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('../images/icones/checks.png') no-repeat 0 0;
  line-height  : 24px;
}

input[type=checkbox]:not(old):checked + label{
  background-position : 0 -24px;
}

input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}
